@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

body {
  margin: 0;
  font-family: 'Open Sans', serif;
  background: lightgray;

}

.home-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, max-content);
  grid-gap: 15px;
  padding-top: 15px;
}

.carousel .control-dots .dot {
  background: #000;
}


.home-item {
  grid-column: span 3;
  grid-row: span 1;
}



.home-item:nth-of-type(1) {
  grid-column: span 6;
  grid-row: span 2
}





.home-item-3 {
  grid-column: span 3;
  grid-row: span 1;
}

.home-item-3:nth-of-type(3) {
  grid-column: span 6;
  grid-row: span 2
}


@media(max-width:992px) {
  .home-item {
    grid-column: span 6;
    grid-row: span 2
  }

  .home-item:nth-of-type(1) {
    grid-column: span 12;
    grid-row: span 2
  }

  .home-item-3 {
    grid-column: span 6;
    grid-row: span 1;
  }

  .home-item-3:nth-of-type(1) {
    grid-column: span 12;
    grid-row: span 2
  }

  .home-item-3:nth-of-type(3) {
    grid-column: span 6;
    grid-row: span 1
  }
}

@media(max-width:575px) {
  .home-item {
    grid-column: span 12;
    grid-row: span 1;
  }

  .home-item-3 {
    grid-column: span 12;
    grid-row: span 1;
  }

  .home-item:nth-of-type(1) {
    grid-column: span 12;
    grid-row: span 1;
  }

  .home-item-3:nth-of-type(3) {
    grid-column: span 12;
    grid-row: span 1;
  }
}


.home-text {
  margin-top: 15px;
}

.logo {
  max-width: 300px;
  width: 100%;
  height: 70px;
  transition: 0.1s cubic-bezier(0.175, 0.885, 0.32, 2.275);

}

.logo:hover {
  transform: scale(1.05) translate(3%);
}

.object-fit-cover {
  object-fit: cover;
}

.all-mebel {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(200px, max-content);
  grid-gap: 15px;
}

.one-big {
  grid-column: span 3;
  position: relative;
}

.balandlik {
  height: 500px;
}

.catalog {
  position: relative;
}

@media(max-width:1200px) {
  .catalog:hover {
    margin-bottom: 270px;
  }
}

.catalog__list {
  position: absolute;
  right: 50%;
  transform: translate(50%);
  display: none;
  flex-direction: column;
  z-index: 5;
  width: 300px;
  height: max-content;
  background: white;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;

}

.catalog:hover .catalog__list {
  display: flex;
}

.catalog:hover {
  transform: scale(1.2);
  z-index: 5;
}

.catalog__link {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

.catalog__link:hover {
  font-weight: 700;
  color: blue;
}

.media {
  width: 30px;
  height: 30px;
}

.telegram {
  width: 35px;
  height: 35px;
}


.phone-link:hover .phone {
  display: none;
}

.phone-num {
  color: blue;
  font-weight: 700;
  display: none;
  font-size: 20px;
}

.phone-link:hover .phone-num {
  display: flex;
}

.phone-dong {
  width: 160px;
  height: 50px;
}

.text-blue {
  color: black;
  margin-bottom: 0;
  padding: 5px 0;
}

.z-index {
  z-index: 5;
}

.flag {
  width: 30px;
  height: 30px;

}

.flag.active {
  display: none;
}

.nav-item.active.lang {
  display: none;
}

.mebel-list {
  min-height: 350px !important;
}

@media(max-width:395px) {
  .navbar-toggler {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.category-top{
  margin-top: 85px;
}

@media(max-width:380px){
  .category-top{
    margin-top: 160px;
  }
}
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  color: #000;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 10%;
  box-sizing: border-box;
  padding: 5px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 50%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.img-wrapper{
  overflow:hidden;
}

.image-zoom img{
  transition: 0.5s;
}
.image-zoom:hover img{
  transform: scale(3);
}

.bg-season{
  /* background-image: url("./img/snow.gif.crdownload"); */
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(15px);
  color: white;
}
.menu-katalog{
  background: transparent;
}

.nav-link{
  color: black !important;
  font-weight: 600;
}

.menu-phone{
  font-size: 18px;
  color: blue;
}

.menu-link{
  transition: 0.1s cubic-bezier(0.175, 0.885, 0.32, 3.275);
  line-height: 100%;
  
}
.menu-lang.active{
  font-weight: 900;
  font-size: 20px;
  transform: scaleY(1.5) translateY(-2px);
  display: none;
}

.menu-link:hover{
  transform: scale(1.15);
}

.card-title{
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-opacity{
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.img-opacity:hover{
  color: black;
  text-decoration: none;
}

.text-custom{
  text-decoration: none;
  color: #000;
}

.text-custom:hover{
  color: #000;
}

.block-price{
  font-size: 22px;
}

.home-banner{
  height: 100vh;
  background: #000;
  background-image: url('./img/banner-home.jpg');
  background-position: bottom;
  background-attachment: fixed;
}


section {
  width: 100%;
  display: inline-block;
  background: gray;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  margin-top: 15px;
}

.footer-distributed footer{
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}


.footer-distributed .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-links .link-1:before {
  content: none;
}

.address{
  max-width: 300px;
  color: white;
  margin: 0;
  text-decoration: none;
}

.address:hover{
  color: white;
}

.call{
  color: white !important;
  text-decoration: none;
  margin: 0;
}

.email{
  color: white !important;
  text-decoration: none;
  margin: 0;
}

@media (max-width: 1400px) {
  .footer-distributed footer{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: start;
  }
}

@media(max-width: 425px){
  .footer-distributed{
    padding: 15px 0;
  }
}

.container-top{
  margin-top: 110px;
}